<h1>People</h1>

<%= link_to 'New', new_person_path %>

<ul>
	<% @people.each do |person| %>
		<p><%= person.name %> |
		<%= link_to 'Show', person_path(person) %> |
		<%= link_to 'Edit', edit_person_path(person) %> |
		<%= link_to 'Delete', person_path(person), method: :delete, 
		data: { confirm: "Are you sure you want to delete #{person.name}?"} %></p>
	<% end %>
</ul>